.social-icons {
  font-size: 32px;
  width: 100%; }
  .social-icons a {
    margin-right: 15px !important;
    text-decoration: none;
    color: #d3d3d3 !important;
    background-color: #dddddd; }
    .social-icons a:hover {
      color: white !important; }

.show-case img {
  width: 100%;
  padding: 0px 0px 50px 0px;
  margin: 0px 0px 50px 0px;
  border-bottom: 1px solid #eee; }

.page-title {
  color: #bd5d38; }

.page-big-title {
  color: #bd5d38; }
