@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

$highlightColor: #bd5d38;

.social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;

  a {
    text-decoration: none;
    color: #d3d3d3 !important;
    background-color: #dddddd;
    font-size: 32px;
    margin: 0;

    &:hover {
      color: white !important;
      background-color: #eeeeee;
    }
  }
}

.show-case {
  img {
    width: 100%;
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #eee;
  }
}

.page-title {
  color: $highlightColor;
  letter-spacing: 1px;
}

.page-big-title {
  color: $highlightColor;
}

.contact-content {
  font-size: 1.5rem;
}
