@use "sass:color";
@use "variables" as *;
@use "mixins" as *;
@use "global" as *;
@use "nav" as *;
@use "resume-item" as *;
@use "bootstrap-overrides" as *;

$highlightColor: $primary;

.social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  display: none;

  a {
    text-decoration: none;
    color: $gray-200 !important;
    background-color: $gray-300;
    font-size: 32px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;

    &:hover {
      color: $white !important;
      background-color: $gray-200;
    }
  }
}

.show-case {
  img {
    width: 100%;
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #eee;
  }
}

.page-title {
  color: $highlightColor;
  letter-spacing: 1px;
}

.page-big-title {
  color: $highlightColor;
}

.contact-content {
  font-size: 1.5rem;
}

.contact-label {
  color: red;
}

h1 {
  font-size: 6rem;
  line-height: 125%;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-container {
  .td {
    font-size: 1rem;
    &.td-0 {
      font-weight: bold;
    }
  }
}

.nav-link:focus,
.nav-link:hover {
  color: #ffffff !important;
}
